body,h1,h2,h3,p,ul {
    margin:0;
    padding: 0;
}
 header h1{
    text-align: center;
    font-size: 3rem;
    background-color: #225429a3;
    color:orange;
    padding: 20px;
}

nav ul{
    Display:flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav ul li{
    margin: 0 15px;   
}

nav ul li{
    color:#225429a3;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
